.header {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;
    align-items: center; 
    
}

@media(max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: stretch;
    }
}